@media (max-width: 1200px) {
  .box .box-text p {
    justify-content: center;
    text-align: center;
    font-size: 0.8rem;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1200px;
  }
}
@media (max-width: 1073px) {
  .navbar #btn1 {
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    padding-right: 1.4rem;
    display: flex;
    display: inline-block;
  }

  .box .box-text p {
    justify-content: center;
    text-align: center;
    font-size: 0.8rem;

    overflow: hidden;
  }

  .box .box-text p {
    line-height: 1.2rem;
  }
}
@media (max-width: 1044px) {
  .navbar #btn1 {
    color: white;
    font-size: 1rem;
    font-weight: 600;
    padding-right: 1.4rem;
    display: flex;
    display: inline-block;
  }
  .navbar .navbar-nav .nav-link {
    padding: 1.875rem 0.3rem;
    text-transform: capitalize;
    transition: 0.3s;
    color: white;
    font-weight: 500;

    font-size: 0.9rem;
  }
  .box {
    overflow: hidden;
  }
  .box .box-text p {
    line-height: 1.2rem;
  }
}

@media (max-width: 1030px) {
  .navbar .navbar-nav .nav-link {
    padding: 1.875rem 0.5rem;
    text-transform: capitalize;
    font-size: 0.8rem;
  }
  .navbar .navbar-nav .nav-item:last-child {
    margin-right: -0.9rem;
  }

  .navbar #btn1 {
    color: white;
    font-size: 0.9rem;
    font-weight: 600;
    padding-right: 1.4rem;
    display: flex;
    display: inline-block;
  }
  .navbar #btn2 {
    color: white;
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 1px;
    background: linear-gradient(to right, #ffb484, #ff3b8c);
    border-radius: 30px;
    outline: none;
    box-shadow: 10px, 10px, 10px rgba(0, 0, 0, 1.1);
    padding: 0.6rem 0.9rem;
    margin-right: 1rem;
    display: flex;
    display: inline-block;
  }
  .box {
    overflow: hidden;
  }
  .box .box-text p {
    line-height: 1.2rem;
  }
}
@media (max-width: 991px) {
  .hero-banner {
    margin-top: 50px;
  }
  .home-2-row {
    margin-left: 7rem;
    margin-right: 7rem;

    justify-content: center;
  }
  .home2-text {
    text-align: center;
  }
  .box .box-text p {
    font-size: 1rem;
  }
  .box .box-text .counter_item span {
    margin-top: 1.4rem;
  }
}
@media (max-width: 767px) {
  .home-2-row {
    margin-left: 6rem;
    margin-right: 6rem;

    justify-content: center;
  }
  .client-img {
    width: 20%;
  }
  .client-name h5 {
    color: #050748;
    font-weight: 700;
    padding-top: 1rem;
    font-size: 1rem;
  }
  .client-name p {
    color: #646466e0;
    font-size: 1rem;
    margin-top: -0.3rem;
  }
  .quotes i {
    color: #0157ec;
    font-size: 5rem;
  }
}
@media (max-width: 575px) {
  .home-2-row {
    margin-left: 5rem;
    margin-right: 5rem;

    justify-content: center;
  }
  .home2-text {
    margin-bottom: 3rem;
  }
  .work h1 {
    font-size: 2.4rem;
  }
  .industries-section .industries-logo {
    display: inline-block;
  }
  .industries-section .industries-logo h6 {
    margin: 0 0 0 5px;
    margin-top: 20px;
    font-size: 0.8rem;
  }
  .industries-section .row {
    margin-left: 5rem;
  }
  /* .footer-sec-1 .footer-company-logo img {
    width: 50%;
    text-align: center;
    justify-content: center;
  } */
  .formatgin-top {
    margin-top: 2rem;
  }
}
@media (max-width: 413px) {
  .home-2-row {
    margin-left: 1rem;
    margin-right: 2.6rem;

    justify-content: center;
  }
  .industries-section .row {
    margin-left: 2rem;
  }
  .industries-section .industries-logo h6 {
    font-size: 0.6rem;
  }
  .client-img {
    width: 25%;
  }
  .client-name h5 {
    color: #050748;
    font-weight: 700;
    padding-top: 1rem;
    font-size: 0.9rem;
  }
  .client-name p {
    color: #646466e0;
    font-size: 0.9rem;
    margin-top: -0.3rem;
  }
  .quotes i {
    color: #0157ec;
    font-size: 3rem;
  }
}
@media (max-width: 376px) {
  .container {
    width: 300px;
  }
  .home-2-row {
    margin-left: 1rem;
    margin-right: 2rem;

    justify-content: center;
  }
  .industries-section .row {
    margin-left: 0.4rem;
  }
}
@media (max-width: 361px) {
  .home-2-row {
    margin-left: 1rem;
    margin-right: 1rem;

    justify-content: center;
  }
  .client-img {
    width: 40%;
  }
  .client-name h5 {
    color: #050748;
    font-weight: 700;
    padding-top: 1rem;
    font-size: 0.8rem;
  }
  .client-name p {
    color: #646466e0;
    font-size: 0.8rem;
    margin-top: -0.3rem;
    line-height: 1rem;
  }
  .quotes i {
    color: #0157ec;
    font-size: 1rem;
  }
  .client-says h3 {
    color: #646466e0;
    font-size: 1.075rem;
    font-weight: 400;
    line-height: 25px;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 330px) {
  .home-2-row {
    margin-left: 1rem;
    margin-right: 1rem;

    justify-content: center;
  }
}
@media (max-width: 282px) {
  .home-2-row {
    margin-left: 0.2rem;
    margin-right: 0.5rem;

    justify-content: center;
  }
  .over-logo {
    display: none;
  }
  .footer-sec-1 .footer-heading p {
    overflow: hidden;
  }
}
@media (max-width: 100px) {
  .home-2-row {
    margin-left: 0.2rem;
    margin-right: 0.2rem;

    justify-content: center;
  }
}
