* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 1rem;
  line-height: 1.75rem;
  overflow-x: hidden;
}
.container {
  width: 100%;
  margin: 0 auto;
}
a:hover,
a:focus,
.btn:focus {
  text-decoration: none;
  outline: none;
  box-shadow: none;
}
ol,
ul {
  margin: 0;
  padding: 0;
}
ol li,
ul li {
  list-style: none;
}
button,
button:focus {
  outline: none;
  box-shadow: none;
}
img {
  height: auto;
  max-width: 100%;
}

/* Header css */

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 999;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: transparent;
  border-bottom: rgb(230, 225, 225) 0.1px solid;
}
.navbar .navbar-nav .nav-link {
  padding: 1.875rem 0.3rem;
  text-transform: capitalize;
  transition: 0.3s;
  color: white;
  font-weight: 500;
  letter-spacing: 0.1rem;
  font-size: 1rem;
}

.navbar .navbar-nav {
  padding-right: 0rem;
}
.navbar-brand {
  margin-right: 0;
}
.navbar #btn1 {
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding-right: 1.6rem;
  display: flex;
  display: inline-block;
}
.navbar #btn1 .fa-solid {
  padding-right: 0.6rem;
  padding-left: 0.6rem;
}
.navbar #btn2 {
  color: white;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 1px;
  background: linear-gradient(to right, #ffb484, #ff3b8c);
  border-radius: 30px;
  outline: none;
  box-shadow: 10px, 10px, 10px rgba(0, 0, 0, 1.1);
  padding: 0.6rem 0.9rem;
  margin-right: 1.5rem;
  display: flex;
  display: inline-block;
}
.navbar-brand img {
  max-width: 65%;
  padding-left: 1rem;
}
.navbar-toggler-icon {
  color: white;
  margin-top: 0.8rem;
}
.navbar-toggler:focus {
  box-shadow: none;
}

/* navbar sticky */

.navbar-sticky-on .navbar-nav .nav-link {
  color: rgb(45, 55, 87);
}
.navbar-sticky-on #btn1 {
  color: rgb(45, 55, 87);
}
.navbar .navbar-brand-sticky {
  display: none;
}
.navbar-sticky-on .navbar-brand-regular {
  display: none;
}
.navbar-sticky-on .navbar-brand-sticky {
  display: inline;
}
.navbar-sticky {
  -webkit-transition: none;
  transition: none;
}
.navbar-sticky-transitioned {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.navbar-sticky-moved-up {
  position: fixed;
  top: 0;
  background: white;
  margin-top: -6.25rem;
}
.navbar-sticky-on {
  margin-top: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px;
}
.offcanvas {
  width: 45%;
}
.offcanvas-header {
  height: 5rem;
}
.offcanvas-header h5 {
  font-size: 1.7rem;
  font-weight: 500;
}
.offcanvas-body {
  background-color: black;
}
.offcanvas-body ul li a {
  color: white;
  font-size: 1.1rem;
}
.button-hader {
  margin-top: 13rem;
  display: flex;
  justify-content: space-between;
}
.button-hader #btn1 {
  color: white;
  font-size: 1.4rem;
  margin-left: 1.2rem;
}
.button-hader #btn2 {
  color: white;
  font-size: 1.4rem;
  margin-right: 1.2rem;
}

/* services css */
#home {
  min-height: 700px;
  height: 100%;
  background: linear-gradient(to right, rgb(73, 118, 241), rgb(66, 58, 182));
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.services-text h1 {
  color: white;
  font-size: 3rem;
  font-weight: 800;
  margin-top: 7rem;
}
.services-text p {
  color: white;
  padding-top: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
}
.services-text #btn-3 {
  color: white;
  border-radius: 50px;
  background: transparent;
  border: white 1px solid;
  padding: 1rem 1.9rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out 0.3s;
  margin-top: 1.5rem;
}
.services-text #btn-3:hover {
  background: rgba(162, 162, 223, 0.555);
}
.services-text #btn-3 span {
  font-size: 0.8rem;
}

.services-text h6 {
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  padding-top: 1.8rem;
}

/* Slider */
.slick-slide {
  margin: 1.5rem 0rem;
}
.slick-slide img {
  width: 100%;
  padding-right: 1rem;
}
.hero-banner {
  margin-top: 7rem;
}

/* ================
      Home 2
  =================
  */

.home-2-row {
  margin-top: 6rem;
  margin-left: 4.4rem;
  margin-right: 4.4rem;
}
.home-2-row .home2-text h1 {
  color: #0157ec;
  font-size: 2.8rem;
  font-weight: 800;
  letter-spacing: 1px;
}
.home-2-row .home2-text h1 span {
  color: rgb(29, 36, 54);
  font-size: 2.5rem;
  font-weight: 700;
}
.home-2-row .home2-text p {
  color: #6a6a8e;
  padding-top: 1.4rem;
  font-size: 1.125rem;
}
.home-2-row .home2-text h5 {
  color: #6a6a8e;
  font-size: 1.1rem;
  font-weight: 600;
}
.home-2-row .home2-text h2 {
  font-weight: 700;
  color: rgb(23, 28, 43);
  letter-spacing: 1px;
  line-height: 2.8rem;
  font-size: 2.3rem;
  padding-top: 2rem;
}
.home-2-row .home2-text a {
  color: rgb(23, 28, 43);
  border-radius: 50px;
  background: transparent;
  border: rgb(23, 28, 43) 2px solid;
  padding: 0.8rem 1.9rem;
  font-weight: 600;
  transition: all 0.5s ease 0.3s;
  margin-top: 1.8rem;
}
.home-2-row .home2-text a span {
  font-size: 0.7rem;
}
.home-2-row .home2-text a:hover {
  background: #0157ec;
  color: rgb(236, 233, 233);
  border: #0157ec 2px solid;
}
.single-counter {
  position: relative;
}
.single-counter::after {
  position: absolute;

  height: 70%;
  width: 0.63rem;
  top: 50%;
  right: 50%;
  font-size: 30px;
  transform: translate(-50%);
  display: flex;
}

.box {
  border-radius: 8px 8px 8px 42px;
  background: white;
  box-shadow: -2px 2px 10px #d0d0d0, 5px -5px 10px white;
  padding: 2rem 2rem;
  padding-bottom: 0.8rem;
}
.box .box-text .counter_item span {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 700;
  color: rgb(23, 28, 43);
  padding-top: 1rem;
}
.box .box-text .counter_item #span2d {
  position: absolute;
  margin-left: 1.7rem;
  font-size: 2rem;
}
.box .box-text .counter_item #span3d {
  position: absolute;
  margin-left: 2.4rem;
  font-size: 2rem;
}
.box .box-text .counter_item #span4d {
  position: absolute;
  margin-left: 2.8rem;
  font-size: 2rem;
}
.box .box-text p {
  text-align: center;
  color: #848499c0;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1.1px;
  margin-top: 4.2rem;
}
